body{
    height: 100%;
}

.container{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
.headertop{
    padding: 20px 0 ;
    height: 5%;
    width: 100%;
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    cursor: default;

}
.icon{
    width: 15%;
    display: flex;
    justify-content: space-around;
}
.headerunder{
    border-top: 2px solid rgb(146, 143, 143);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: solid 2px gray;
    
}

.main{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction:row;
    border-bottom: solid 2px gray;
}
.main1{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width:70%;
    

}
.main1 img{
    border: yellow solid;
    height: 35vh;
    margin: 10px;
    width: 50vh;
    background-color: gray;
}
.main1 .shadow{
    width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	
	background-color:	rgba(0,0,0,0.4);
	-webkit-transform:	rotateX(-180deg);
	transform:		rotateX(-180deg);
	-webkit-transition:	all 0.6s ease;
    transition:		all 0.6s ease;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
 
}
.article{
    position: relative;
    overflow: hidden;
}
.article:hover .shadow{
    -webkit-transform:	rotateX(0deg);
	transform:		rotateX(0deg);
	opacity:		1;
    cursor: pointer;
}
.main2{
    width: 30%;
    border-left: solid 2px gray;
    display: flex;
    flex-direction: column;
    text-align:center;
}
.main2 li{
    text-align: left;
    margin-left: 20%;
    cursor: pointer;
}
.main a{
    text-decoration-line: none;
}


.archive {
    width: 100%;
    height:10%;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
   
}
.aside{
    margin-top:5% ;
    display: none;
    height: 40vh;
    width: 100%;

}
.aside img{
   
    height: 40vh;
    width: 40%;
    margin: auto 4%;
    border: yellow solid;
}

.footer {
    width: 100%;
    margin-top: 5%;
    background-color: black ;
}

.footertop {
    width: 100%;
    height: 30px;
    border-bottom: solid 2px white;
}

.footerunder {
    width: 100%;
    height: 70px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}